name: "Release"

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Bootstrap environment
        uses: ./.github/actions/bootstrap

      - name: Build and release
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean --skip=docker,sign,sbom,announce,homebrew
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}